body{
    padding: 0px;
    margin: 0px;
    background-color: #000429;
    font-family: 'Gruppo', cursive;
}
p{
    color: #ffffff;
}



.yellowsection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .yellowsectionh1{
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.19em;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 150%;
    border: 2px solid white;
    padding: 6px;
    box-shadow:2px 2px 2px white;
    inset: 2px;
    
  }
 .recentpodcast {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
   
    padding-bottom: 20px; /* Add padding to remove the gap */
  }

.recentpodcast::-webkit-scrollbar {
    display: none;
  }
  
  .Card1 {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    scroll-snap-align: start;
    margin-right: 20px;
    box-shadow: 2px 2px 2px white;
   
  }
  
  .Card1 .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 8px;
    
  }
  
  .Card1 .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
 
 
  }
  
  /* Animation for sliding from right to left */
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .recentpodcast .Card1:not(:last-child) {
    animation: slide 20s linear infinite; /* Adjust the duration as needed */
  }

.register{
    border: 2px solid white;
    height: 5rem;
    color: #ffffff;
    font-family: 'Gruppo', cursive;
    font-weight: bolder;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 2px 2px 2px white;
  }

.write_up{
    
    border: 2px solid rgb(241, 238, 238);
    height: 10rem;
    margin:auto;
    margin-top: 20px;
    box-shadow: 2px 2px 2px white;
}


  
  .write_up p{
    position: absolute;
    width: 597px;
    height: 106px;
    font-family: 'Gruppo', cursive;
    font-style: bold;
    line-height: 21px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-left: 162px;
    margin-top: 35px;

  }